.reset{
    display: flex;
    flex-direction: column;

    justify-content: left;
    align-content: center;
}

.reset h2{
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-bottom: 16px;
}

.reset select{
    padding: 8px 16px;

    border-radius: 8px;
    border: 1px solid #cfcfcf;
    background-color: #ffffff;
    color: black;
}
.reset input{
    padding: 8px 16px;

    border-radius: 8px;

    width: 100%;
    margin: 8px 0;

    border: 1px solid #cfcfcf;
    background-color: #ffffff;
    color: black;
}

.reset button{
    padding: 8px 16px;
    margin: 8px 0;

    border-radius: 8px;
    border: 1px solid #cfcfcf;
    background-color: black;
    color: white;
}